*{
  margin:0;
  padding :0;
  box-sizing : border-box;
  background-color: #CAD3C8;

}

body{
  background-color: #f3f3f3;
}

.board {

  width: 100%;
  max-width: 200px;
  height: 85vh;

  background-color: #313131;

  padding: 15px;
}

.card {
  padding: 15px 25px;
  background-color: #f3f3f3;
  /* display: block; */

  margin-top: 15px;
  cursor: pointer;
}

.trelloHeader{
  text-align: center;
  font-size: 50px;
  background-color: burlywood;
}


.addBtn {
  color: #5e6c84;
  width: 171px;
  background-color: lavenderblush;
  font-style:italic ;
}

.title{
  color: wheat;
  text-align: center;
  background-color: transparent;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.centerThing{
  text-align: center;
}

.colMargin{
  margin: 20px;
  flex-grow: 0;
}

/* button, input {
  overflow: visible;
  width: 100%;
} */